.container {
  display: flex;
  flex-direction: row;
}

.logo-wrapper {
  height: 100vh;
  width: 35vw;
  background-image: url("https://images.unsplash.com/photo-1726013646985-ef31b9471032?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.login-wrapper {
  height: 100vh;
  width: calc(100vw - 35vw);
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 237, 233);
}
.logo-bg {
  position: relative;
  top: 25vh;
  bottom: auto;
  width: 100%;
  background-color: rgb(119, 116, 116);
  opacity: 0.3;
  height: 130px;
}
h1 {
  position: absolute;
  top: 25vh;
  left: 5%;
  font-size: 40px;
}
h2 {
  font-size: 30px;
  padding: 0px;
}
.description {
  font-size: 25px;
  font-weight: bolder;
  padding: 7%;
}
img {
  position: relative;
  top: 4px;
  right: 10px;
}
form {
  background-color: white;
  border-bottom: 5px solid rgb(221, 218, 218);
  height: 40vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
input {
  width: 60%;
  height: 35px;
  border: 2px solid rgb(21, 255, 0);
  border-radius: 5px;
  font-size: 15px;
}
label {
  font-size: 25px;
  font-weight: 500;
}
input:invalid {
  border: 2px solid red;
}
.login-opt {
  font-size: 25px;
  margin-left: 3%;
  margin-top: 0;
}
button {
  margin: 3%;
  height: 50px;
  border: none;
  border-radius: 7px;
  background-color: rgb(20, 88, 10);
  color: white;
  font-size: 20px;
  width: 200px;
}
